.sidebarFriend{
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .sidebarFriendName{
    text-transform: capitalize;
  }
  .sidebarFriendImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  